---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Matthew's Astro Site</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>About Me</h1>
        <h2>...and the Website!</h2>

        <p>I'm currently at Waterstons on Work Experience, and I've met some really nice people!</p>
        <p>Currently, I'm updating the website live, so keep having a look when you get a chance...</p>
	</body>
</html>
