---
import '/home/matthew/GitHub/WaterstonsWorkExperienceCoding/AstroProject/WaterstonsProject/src/pages/Styles/global.css';
const pageTitle = "Blog";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <style>
            h1 {
                color: purple;
                font-size: 4rem;
      }
        </style>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">AboutMB</a>
        <a href="/blog">Blog</a>
        <a href="/Pixel&PlayCo">Pixel & Play Co.</a>
		<h1>{pageTitle}</h1>
        <h2>for my time making the website</h2>
        <p>This is where I might add extra info during my time here</p>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
	</body>
</html>
