---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>My awesome blog subtitle</h2>
</BaseLayout>
<style> h2 {
	color: red;
}
</style>
	<p>Pixel & Play Co. est 2026</p>
	<p>Collaborator with Waterstons</p>
	<h2>"Ambitious and inspiring!" - New York Times</h2>
	<h2>"Innovative and fun!" - Game Developer Magazine</h2>
	<p><li><a href="/posts/post-2/">Post 2</a></li> Our first post as Pixel & Play Co.</p>
	<p><li><a href="/posts/post-3/">Post 3</a></li> Our introduction to our products.</p>
	<Footer />
		<script>
			import "../scripts/menu.js";
		</script>