---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../Styles/global.css';
const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <style>
            h1 {
                color: purple;
                font-size: 4rem;
      }
        </style>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Header />
		<h1>{pageTitle}</h1>
		<Footer />
		<script>
    		const menu = document.querySelector('.menu');

    		menu?.addEventListener('click', () => {
      			const isExpanded = menu.getAttribute('aria-expanded') === 'true';
      			menu.setAttribute('aria-expanded', `${!isExpanded}`);
    		});
 	 	</script>
	</body>
</html>
