---
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Pixel & Play Co.";
const skillColor = "black";
const fontWeight = "bold";
const fontSize = "1.5rem";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>My awesome blog subtitle</h2>
</BaseLayout>
		<script>
			import "../scripts/menu.js";
 	 	</script>
        

        <p><span class="info">Pixel & Play Co. is a company that blends storytelling, games and quirky products.</span></p>
        <p><span class="info">We have lots of products coming out in the coming days, we hope that you have a look at them!</span></p>
		<p><span class="info">Check out the blogsite for more info!</span></p>
        <p></p>
        <Footer />
	</body>
</html>
