---
import '../Styles/global.css';
const pageTitle = "About Pixel & Play Co.";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <style>
            h1 {
                color: purple;
                font-size: 4rem;
      }
        </style>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">AboutMB</a>
        <a href="/blog">Blog</a>
        <a href="/Pixel&PlayCo">Pixel & Play Co.</a>
		<h1>{pageTitle}</h1>
        

        <p>Pixel & Play Co. is a company that blends storytelling, games and quirky products.</p>
        <p>We have lots of products coming out in the coming days, we hope that you have a look at them! </p>

        <p></p>
	</body>
</html>
