---
---
<div id="main-menu" class="nav-links">
 <a href="/">Home</a>
 <a href="/about/">Site Creator</a>
 <a href="/blog/">Blog</a>
 <a href="/Pixel&PlayCo">Pixel & Play Co.</a>
 <a href="/shop">Products</a>
 <a href="/productChoice">Quiz!</a>
</div>